@import 'compass';
@import 'compass/reset';
@import 'global-styles';

body {
	background: $standard-black;

	&[data-route="home"] {
		.logo-container {
			display: block;
		}
		.home-btn,
		.back-btn {
			display: none;
		}
	}
}

a {
	outline: none;
}

.main, 
.collections,
.photosets,
.collage,
.slideshow {
	position: absolute;;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}

.slideshow {
	[data-events] {
		cursor: pointer;
	}

	&.landscape {
		.center-image {
			width: 70%;
			background-size: contain;
		}

		.left-image,
		.right-image {
			width: 15%;
		}
	}
}

.photosets,
.collage  {
	height: 50%;
}

.collage .repeat {
	height: inherit;
}

.left-image,
.right-image,
.center-image {
	@include box-sizing( border-box );
	border-right: 1px solid $standard-black;
	height: 100%;
	display: inline-block;
	margin-right: -0.25em;
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
 	@include transition-property(width);
  	@include transition-duration(0.5s);
  	@include transition-timing-function(ease-in);
}

.left-image,
.right-image {
	@include opacity( 0.25 );
	width: 30%;
}

.center-image {
	width: 40%;

	button {
		display: none;
		border-radius: 50%;
		border: 3px solid $standard-white;
		width: 150px;
		height: 150px;
		background-color: rgba(0,0,0,.5);
		position: absolute;
		top: 50%;
		left: 50%;
		margin-left: -75px;
		margin-top: -75px;

		div {
			background: url('../images/right-btn.png') center center no-repeat;
			width: 100%;
			height: 100%;
		}
	}
}

.slideshow-btn {
	width: 50px;
	margin: 0 25px;
	position: absolute;
	top: 0;
	bottom: 0;
	@include opacity( 0.75 );
	z-index: 10;

	&:hover {
		@include opacity( 1 );
	}
}


.left-btn {
	left: 0;
	background: url('../images/left-btn.png') center center no-repeat;
}

.right-btn {
	right: 0;
	background: url('../images/right-btn.png') center center no-repeat;
}

.content {
	@include box-sizing( border-box );
	display: inline-block;
	width: 25%;
	height: 100%;
	overflow: hidden;
	position: relative;
	vertical-align: top;
	border: 1px solid $standard-black;
	border-bottom: none;
	border-left: none;
	background-size: cover;
	background-position: center center;
	cursor: pointer;

	h1 {
		@include box-sizing( border-box );
		@include text-shadow( 0 0 5px $heading-glow);
		position: absolute;
		top: 50%;
		width: 100%;
		padding: $top-margin $standard-margin;
		font-family: Headliner, arial;
		font-size: $cat-heading-font-size;
		line-height: $cat-heading-font-size;
		font-weight: normal;
		text-transform: uppercase;
		color: $standard-white;
		margin-top: - ( $top-margin + ($cat-heading-font-size / 2) );

		span:first-child {
			display: block;
			font-size: 118px;
			font-family: BasicTitle, Arial;
			line-height: 0.6em;
			text-indent: -8px;
		}
	}

	&:hover {
		opacity: 0.9;
	}
}

.collections {
	display: flex;

	.content {
		flex: auto;
	}
}

.logo-container {
	width: 285px;
	height: 74px;
	position: fixed;
	left: $standard-margin;
	bottom: $standard-margin;
	z-index: 100;
	display: none; 

	&.productions {
		background: url('../images/logo-productions.png') left top no-repeat;
	}

	&.designs {
		background: url('../images/logo-designs.png') left top no-repeat;
	}
}


.contact-info {
	height:20px;
	text-align: right;
	position: fixed;
	right: $standard-margin;
	bottom: $standard-margin;
	font-family: Garmond, Georgia;
	font-size: 16px;
	z-index: 100;
	white-space: nowrap;

	.contact-caption,
	.contact-link {
		color: $standard-white;
		display: inline-block;
		@include text-shadow( 0 0 5px $heading-glow);
	}

	.contact-link {
		text-decoration: none;
		&:hover {
			text-decoration: underline;
		}
	}
}

.navigation {
	position: fixed;
	left: 0;
	right: 0;
	bottom: 30px;
	z-index: 100;
	height: $navigation-item;

	button, a {
		width: $navigation-item;
		height: $navigation-item;
		padding: 0;
		margin: 0;
		border-radius: 50%;
		border: 3px solid $standard-white;
		background: transparent;
		color: $standard-white;
		cursor: pointer;
		font-family: Garmond, Georgia;
		font-size: 12px;
		position: absolute;
	}

	.home-btn {
		left: 30px;
		background: url('../images/logo-main.png') center 0 no-repeat;
		border: 0;
	}

	.back-btn {
		left: 50%;
		margin-left: - ( $navigation-item / 2 );
	}
}

.video-container {
	display: none;
	position: absolute;
	background-color: rgba(0,0,0,.5);
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	text-align: center;
	z-index: 200;

	object {
		position: absolute;
		top: 50%;
		left: 50%;
	}
}