@import 'compass';
@import 'compass/reset';
@import 'global-styles';

body {
	background: $standard-black;

	&[data-route="home"] {
		.logo-container {
			display: block;
		}
		.home-btn,
		.back-btn {
			display: none;
		}
	}
}

a {
	outline: none;
}

.main,
.collections,
.photosets,
.collage,
.slideshow {
	position: absolute;;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}

.photosets,
.collage  {
	height: 50%;
}

.collage .repeat {
	height: inherit;
}

.left-image,
.right-image,
.center-image {
	@include box-sizing( border-box );
	border-right: 1px solid $standard-black;
	height: 100%;
	display: inline-block;
	margin-right: -0.25em;
	background-size: cover;
	background-position: center center;
}

.left-image,
.right-image {
	@include opacity( 0.5 );
	width: 30%;
}

.center-image {
	width: 40%;
}

.slideshow-btn {
	width: 50px;
	margin: 0 25px;
	position: absolute;
	top: 0;
	bottom: 0;
	@include opacity( 0.75 );
	z-index: 10;

	&:hover {
		@include opacity( 1 );
	}
}


.left-btn {
	left: 0;
	background: url('../images/left-btn.png') center center no-repeat;
}

.right-btn {
	right: 0;
	background: url('../images/right-btn.png') center center no-repeat;
}

.content {
	@include box-sizing( border-box );
	display: inline-block;
	width: 25%;
	height: 100%;
	overflow: hidden;
	position: relative;
	vertical-align: top;
	border: 1px solid $standard-black;
	border-bottom: none;
	border-left: none;
	background-size: cover;
	background-position: center center;
	cursor: pointer;

	h1 {
		@include box-sizing( border-box );
		@include text-shadow( 0 0 5px $heading-glow);
		position: absolute;
		top: 50%;
		width: 100%;
		padding: $top-margin $standard-margin;
		font-family: Headliner, arial;
		font-size: $cat-heading-font-size;
		line-height: $cat-heading-font-size;
		font-weight: normal;
		text-transform: uppercase;
		color: $standard-white;
		margin-top: - ( $top-margin + ($cat-heading-font-size / 2) );

		span:first-child {
			display: block;
			font-size: 118px;
			font-family: BasicTitle, Arial;
			line-height: 0.6em;
			text-indent: -8px;
		}
	}

	&:hover {
		opacity: 0.9;
	}
}

.content-main {
	width: 50%;
	border: none;
	margin-right: -0.25em;

	h1 {
		font-family: Byron, arial;
		font-size: 30px;
		line-height: 1em;
		display: block;
		text-align: center;
		text-transform: none;
		margin-top: -100px;
	}

	&.left-pane {
		background-image: url('http://farm4.staticflickr.com/3810/11254683905_a864b0bcee_b.jpg');
	}

	&.right-pane {
		background-image: url('http://farm8.staticflickr.com/7398/9695806688_14e02c05e7_b.jpg');
	}
}


.logo-container-main {
	width: 90px;
	height: 108px;
	background: url('../images/logo-main.png') left top no-repeat;
	position: absolute;
	left: 50%;
	top: 50%;
	margin: -104px 0 0 -45px;
	z-index: 1;
}

.logo-container {
	width: 285px;
	height: 74px;
	background: url('../images/logo.png') left top no-repeat;
	position: fixed;
	left: $standard-margin;
	bottom: $standard-margin;
	z-index: 100;
	display: none;
}


.contact-info {
	height:20px;
	text-align: right;
	position: fixed;
	right: $standard-margin;
	bottom: $standard-margin;
	font-family: Garmond, Georgia;
	font-size: 16px;
	z-index: 100;
	white-space: nowrap;

	.contact-caption,
	.contact-link {
		color: $standard-white;
		display: inline-block;
		@include text-shadow( 0 0 5px $heading-glow);
	}

	.contact-link {
		text-decoration: none;
		&:hover {
			text-decoration: underline;
		}
	}
}

.contact-info-main {
	right: auto;
	left: 50%;
	margin-left: -90px;
}

.navigation {
	position: fixed;
	left: 0;
	right: 0;
	bottom: 30px;
	z-index: 100;
	height: $navigation-item;

	button {
		width: $navigation-item;
		height: $navigation-item;
		padding: 0;
		margin: 0;
		border-radius: 50%;
		border: 3px solid $standard-white;
		background: transparent;
		color: $standard-white;
		cursor: pointer;
		font-family: Garmond, Georgia;
		font-size: 12px;
		position: absolute;
	}

	.home-btn {
		left: 30px;
		background: url('../images/logo-main.png') center -2px no-repeat;
	}

	.back-btn {
		left: 50%;
		margin-left: - ( $navigation-item / 2 );
	}
}