/* line 17, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

@font-face {
  font-family: BasicTitle;
  src: url("../fonts/BasicTitle.ttf"), url("../fonts/BasicTitle.eot");
}

@font-face {
  font-family: Byron;
  src: url("../fonts/Byron.ttf"), url("../fonts/Byron.eot");
}

@font-face {
  font-family: Headliner;
  src: url("../fonts/HeadLiner.ttf"), url("../fonts/HeadLiner.eot");
}

@font-face {
  font-family: Garmond;
  src: url("../fonts/AGaramondPro-Italic.otf");
}

/* line 5, ../../SCSS/main.scss */
body {
  background: black;
}
/* line 9, ../../SCSS/main.scss */
body[data-route="home"] .logo-container {
  display: block;
}
/* line 13, ../../SCSS/main.scss */
body[data-route="home"] .home-btn,
body[data-route="home"] .back-btn {
  display: none;
}

/* line 19, ../../SCSS/main.scss */
a {
  outline: none;
}

/* line 27, ../../SCSS/main.scss */
.main,
.collections,
.photosets,
.collage,
.slideshow {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

/* line 36, ../../SCSS/main.scss */
.slideshow [data-events] {
  cursor: pointer;
}

/* line 42, ../../SCSS/main.scss */
.photosets,
.collage {
  height: 50%;
}

/* line 46, ../../SCSS/main.scss */
.collage .repeat {
  height: inherit;
}

/* line 52, ../../SCSS/main.scss */
.left-image,
.right-image,
.center-image {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border-right: 1px solid black;
  height: 100%;
  display: inline-block;
  margin-right: -0.25em;
  background-size: cover;
  background-position: center center;
}

/* line 63, ../../SCSS/main.scss */
.left-image,
.right-image {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  opacity: 0.5;
  width: 30%;
}

/* line 68, ../../SCSS/main.scss */
.center-image {
  width: 40%;
}

/* line 72, ../../SCSS/main.scss */
.slideshow-btn {
  width: 50px;
  margin: 0 25px;
  position: absolute;
  top: 0;
  bottom: 0;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=75);
  opacity: 0.75;
  z-index: 10;
}
/* line 81, ../../SCSS/main.scss */
.slideshow-btn:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}

/* line 87, ../../SCSS/main.scss */
.left-btn {
  left: 0;
  background: url("../images/left-btn.png") center center no-repeat;
}

/* line 92, ../../SCSS/main.scss */
.right-btn {
  right: 0;
  background: url("../images/right-btn.png") center center no-repeat;
}

/* line 97, ../../SCSS/main.scss */
.content {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: inline-block;
  width: 25%;
  height: 100%;
  overflow: hidden;
  position: relative;
  vertical-align: top;
  border: 1px solid black;
  border-bottom: none;
  border-left: none;
  background-size: cover;
  background-position: center center;
  cursor: pointer;
}
/* line 112, ../../SCSS/main.scss */
.content h1 {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.75);
  position: absolute;
  top: 50%;
  width: 100%;
  padding: 18px 30px;
  font-family: Headliner, arial;
  font-size: 48px;
  line-height: 48px;
  font-weight: normal;
  text-transform: uppercase;
  color: white;
  margin-top: -42px;
}
/* line 127, ../../SCSS/main.scss */
.content h1 span:first-child {
  display: block;
  font-size: 118px;
  font-family: BasicTitle, Arial;
  line-height: 0.6em;
  text-indent: -8px;
}
/* line 136, ../../SCSS/main.scss */
.content:hover {
  opacity: 0.9;
}

/* line 141, ../../SCSS/main.scss */
.logo-container {
  width: 285px;
  height: 74px;
  background: url("../images/logo.png") left top no-repeat;
  position: fixed;
  left: 30px;
  bottom: 30px;
  z-index: 100;
  display: none;
}

/* line 153, ../../SCSS/main.scss */
.contact-info {
  height: 20px;
  text-align: right;
  position: fixed;
  right: 30px;
  bottom: 30px;
  font-family: Garmond, Georgia;
  font-size: 16px;
  z-index: 100;
  white-space: nowrap;
}
/* line 165, ../../SCSS/main.scss */
.contact-info .contact-caption,
.contact-info .contact-link {
  color: white;
  display: inline-block;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.75);
}
/* line 171, ../../SCSS/main.scss */
.contact-info .contact-link {
  text-decoration: none;
}
/* line 173, ../../SCSS/main.scss */
.contact-info .contact-link:hover {
  text-decoration: underline;
}

/* line 179, ../../SCSS/main.scss */
.navigation {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 30px;
  z-index: 100;
  height: 74px;
}
/* line 187, ../../SCSS/main.scss */
.navigation button {
  width: 74px;
  height: 74px;
  padding: 0;
  margin: 0;
  border-radius: 50%;
  border: 3px solid white;
  background: transparent;
  color: white;
  cursor: pointer;
  font-family: Garmond, Georgia;
  font-size: 12px;
  position: absolute;
}
/* line 202, ../../SCSS/main.scss */
.navigation .home-btn {
  left: 30px;
  background: url("../images/logo-main.png") center -2px no-repeat;
}
/* line 207, ../../SCSS/main.scss */
.navigation .back-btn {
  left: 50%;
  margin-left: -37px;
}
