/* line 17, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

@font-face {
  font-family: BasicTitle;
  src: url("../fonts/BasicTitle.ttf"), url("../fonts/BasicTitle.eot");
}

@font-face {
  font-family: Byron;
  src: url("../fonts/Byron.ttf"), url("../fonts/Byron.eot");
}

@font-face {
  font-family: Headliner;
  src: url("../fonts/Headliner.ttf"), url("../fonts/Headliner.eot");
}

@font-face {
  font-family: Garmond;
  src: url("../fonts/AGaramondPro-Italic.otf");
}

/* line 5, ../SCSS/main.scss */
body {
  background: black;
}

/* line 10, ../SCSS/main.scss */
.main,
.collections {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

/* line 18, ../SCSS/main.scss */
.content {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: inline-block;
  width: 25%;
  height: 100%;
  overflow: hidden;
  position: relative;
  vertical-align: top;
  border: 1px solid black;
  border-bottom: none;
  border-left: none;
  background-size: cover;
  background-position: center center;
}
/* line 32, ../SCSS/main.scss */
.content h1 {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.75);
  position: absolute;
  top: 50%;
  width: 100%;
  padding: 18px 30px;
  font-family: Headliner, arial;
  font-size: 48px;
  line-height: 48px;
  font-weight: normal;
  text-transform: uppercase;
  color: white;
  margin-top: -42px;
}
/* line 47, ../SCSS/main.scss */
.content h1 span:first-child {
  display: block;
  font-size: 118px;
  font-family: BasicTitle, Arial;
  line-height: 0.6em;
  text-indent: -8px;
}

/* line 57, ../SCSS/main.scss */
.logo-container {
  width: 285px;
  height: 74px;
  background: url("../images/eyeswitch-logo.png") left top no-repeat;
  position: absolute;
  left: 30px;
  bottom: 30px;
  z-index: 100;
}

/* line 67, ../SCSS/main.scss */
.contact-info {
  width: 250px;
  height: 20px;
  text-align: right;
  position: absolute;
  right: 30px;
  bottom: 30px;
  font-family: Garmond, Georgia;
  font-size: 16px;
  z-index: 100;
}
/* line 79, ../SCSS/main.scss */
.contact-info .contact-caption,
.contact-info .contact-link {
  color: white;
  display: inline-block;
}
/* line 84, ../SCSS/main.scss */
.contact-info .contact-link {
  text-decoration: none;
}
/* line 86, ../SCSS/main.scss */
.contact-info .contact-link:hover {
  text-decoration: underline;
}
